{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Associado</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header class="topo-principal">
    <div class="container">

        <img src="{% static 'Assets/logo_recortada.png' %}" class="logo">

        <nav class="menu">
            <a href="/">Início</a>
            <a href="/perfil/">Perfil</a>
            <a href="#">Benefícios</a>
            <a href="#">Contato</a>
        </nav>

    </div>
</header>

<main>

    <h1>Perfil do Associado</h1>

    <p>Aqui será exibido o perfil do associado.</p>

</main>

<footer>
    <p>© 2026 SindApp</p>
</footer>

</body>
</html>